
/* Top bar */

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

hr {
    background: #DBDBDB;
}


.top-bar {
    max-height: 36px;
    background-color: #E7462E;
}

.top-bar .wrapper-text {
    display: flex;
}

.flex-container {
    display: flex;
    justify-content: center;
    height: 36px;
}

.flex-container .selected-language,
.flex-container .wrapper-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1112px;
    margin: 0 auto;
}

.container .wrapper-text h6,
.container .language-selector .wrapper-languages,
.container .language-selector .selected-language{
    margin-left: 45px;
    color: white;  
}



.language-selector .selected-language {
    padding: 5px;
    max-height: 35px;
    max-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.language-selector .selected-language::after {
    content: '>';
    transform: rotate(90deg);
    margin-left: 5px;
    color: white;
}


.language-selector .selected-language,
.language-selector .wrapper-languages {
    background-color: #D63821;
    margin: 0 auto;
    border-radius: 5px;
}


.language-selector .wrapper-languages {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
    width: 50px;
    display: flex;
    flex-direction: column;
}

.language-selector:hover .wrapper-languages{
    max-height: 300px;
    padding: 5px;
    padding-left: 8px;
    max-width: 50px;
    transition: 0.4s;
}

.language-selector .wrapper-languages a {
    color: white;
    text-decoration: none;
}

.wrapper-text {
    font-size: 18px;
    word-spacing: 5px;
    font-weight: 600;
    margin-bottom: 3px;
    display: inline;
    text-transform: uppercase;
}


.top-bar .wrapper-text .delivery-truck {
    max-width: 30px;
    max-height: 30px;
    margin-right: 10px;
    margin-top: 0px;
}



/* Bottom Bar */

.bottom-bar {
    width: 1920px;
    height: 35px;
    margin-top: 25px;
}

.wrapper-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-bar .top-bar-nav a {
    text-decoration: none;
    color:black;
    margin-left: 40px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 18px;
    justify-content: center;
    align-items: center;
}

.bottom-bar .top-bar-nav span {
    color: #ED3737;
    font-weight: 700;
    font-size: 15x;
}

